# Server
PORT=3001
FRONTEND_URL=http://localhost:5173

# Auth - generate hash: node -e "const b=require('bcryptjs');console.log(b.hashSync('passwordmu',10))"
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2a$10$examplehashhere

# JWT
JWT_SECRET=ganti_dengan_string_random_panjang

# Device API Key - string bebas, samakan dengan yang di-flash ke ESP32
DEVICE_API_KEY=esp32-secret-key-ganti-ini
